.cm-editor {
    width: 100%;
    height: calc(100vh - 270px);
    overflow: hidden;
    border-radius: var(--border-radius-lg);
}

.cm-editor .cm-scroller {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: var(--border-radius-lg);
    background-color: hsl(var(--color-gray-50));
}

.cm-editor .cm-line {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.cm-editor * {
    cursor: text;
}

.cm-editor.cm-focused {
    outline: 0;
    box-shadow: 0 0 0 2pt rgba(180, 180, 180, 0.1);
}

.cm-editor .cm-cursor {
    border-left: 2px solid red;
}

.cm-editor .cm-selectionBackground {
    background-color: rgba(180, 180, 180, 0.3);
}

.cm-editor.cm-focused .cm-selectionBackground {
    background-color: rgba(180, 180, 180, 0.3);
}
