.cm-editor {
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius-lg);
}

.cm-editor .cm-scroller {
    border-radius: var(--border-radius-lg);
    background-color: hsl(var(--color-gray-50) / 0.5);
}

.cm-editor .cm-line {
    padding-left: 1em;
    padding-right: 1.5em;
    color: hsl(var(--color-gray-900));
}

.cm-editor .cm-gutters {
    background-color: transparent;
    border-right: 0;
    color: hsl(var(--color-gray-300));
}

.cm-editor .cm-foldPlaceholder {
    background-color: hsl(var(--color-gray-100));
    border: 1px solid hsl(var(--color-gray-200));
    padding: 0 0.3em;
}

.cm-editor .cm-activeLineGutter,
.cm-editor .cm-activeLine {
    background-color: hsl(var(--color-gray-50));
}

.cm-editor * {
    cursor: text;
}

.cm-editor.cm-focused {
    outline: 0;
    box-shadow: 0 0 0 2pt rgba(180, 180, 180, 0.1);
}

.cm-editor .cm-cursor {
    border-left: 2px solid red;
}

.cm-editor .cm-selectionBackground {
    background-color: hsl(var(--color-gray-100));
}

.cm-editor.cm-focused .cm-selectionBackground {
    background-color: hsl(var(--color-gray-100));
}
